<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__descr text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <div class="hero__controls">
      <button
        class="hero__controls-btn hero__controls-btn--active text-p-default"
        data-tab="View all"
      >
        View all
      </button>
      <button class="hero__controls-btn text-p-default" data-tab="Design">
        Design
      </button>
      <button class="hero__controls-btn text-p-default" data-tab="Articles">
        Articles
      </button>
      <button class="hero__controls-btn text-p-default" data-tab="Product">
        Product
      </button>
      <button
        class="hero__controls-btn text-p-default"
        data-tab="Software Development"
      >
        Software Development
      </button>
      <button
        class="hero__controls-btn text-p-default"
        data-tab="Customer Success"
      >
        Customer Success
      </button>
    </div>
    <!-- small-tablet (768px) -->
    <select class="hero__controls-select" id="heroTabSelect">
      <option value="View all">View all</option>
      <option value="Design">Design</option>
      <option value="Articles">Articles</option>
      <option value="Product">Product</option>
      <option value="Software Development">Software Development</option>
      <option value="Customer Success">Customer Success</option>
    </select>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide" data-slide="View all">
          <div class="hero__slider-wrapper">
            <img
              loading="lazy"
              class="hero__slide-img"
              src="./assets/images/about-hero-view-1.jpg"
              alt="a guy with a European-Arabic appearance and a white shirt"
              width="515"
              height="428"
            />
          </div>
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datatime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="hero__article-author">by : Georgii Smirnov</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero__article-descr text-p-medium">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide hero__slide" data-slide="View all">
          <div class="hero__slide-img-wrapper">
            <img
              loading="lazy"
              class="hero__slide-img"
              src="./assets/images/get-started-img.jpg"
              alt="a guy with a European-Arabic appearance and a white shirt"
              width="515"
              height="500"
            />
          </div>
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datatime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="hero__article-author">by : Georgii Smirnov</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="hero__article-descr text-p-medium">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide hero__slide" data-slide="View all">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/about-hero-view-2.jpg"
            alt="a guy with a European-Arabic appearance and a white shirt"
            width="515"
            height="428"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datatime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="hero__article-author">by : Georgii Smirnov</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__article-descr text-p-medium">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__slide" data-slide="Design">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/about-hero-view-design-1.jpg"
            alt="a guy with a European-Arabic appearance and a white shirt"
            width="515"
            height="415"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datatime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="hero__article-author">by : Georgii Smirnov</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__article-descr text-p-medium">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__slide" data-slide="Design">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/our-service-slider-four-img.jpg"
            alt="a guy with a European-Arabic appearance and a white shirt"
            width="515"
            height="415"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datatime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="hero__article-author">by : Georgii Smirnov</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__article-descr text-p-medium">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__slide" data-slide="Design">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/about-hero-view-design-3.jpg"
            alt="a guy with a European-Arabic appearance and a white shirt"
            width="515"
            height="415"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datatime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="hero__article-author">by : Georgii Smirnov</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__article-descr text-p-medium">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__slide" data-slide="Design">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/get-started-img.jpg"
            alt="a guy with a European-Arabic appearance and a white shirt"
            width="515"
            height="415"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datatime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="hero__article-author">by : Georgii Smirnov</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__article-descr text-p-medium">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
