<section class="post-type">
  <div class="container post-type__container">
    <ul class="post-type__list">
      <li class="post-type__item">
        <a href="" class="post-type__link">
          <img
            src="./assets/images/post-type-img-first.jpg"
            alt=""
            width="584"
            height="751"
            class="post-type__item-img"
          />
          <h3 class="post-type__title heading-h3">
            How we perform long-running tasks using AWS services
          </h3>
          <p class="post-type__descr text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </a>
      </li>
      <li class="post-type__item">
        <a href="" class="post-type__link">
          <img
            src="./assets/images/post-type-img-two.jpg"
            alt=""
            width="584"
            height="507"
            class="post-type__item-img"
          />
          <h3 class="post-type__title post-type__title--underline heading-h3">
            How to ask when doing User Research
          </h3>
          <p class="post-type__descr text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </a>
      </li>
      <li class="post-type__item">
        <a href="" class="post-type__link">
          <img
            src="./assets/images/post-type-img-three.jpg"
            alt=""
            width="584"
            height="507"
            class="post-type__item-img"
          />
          <h3 class="post-type__title heading-h3">
            Layout Exploration — Simple exercise but big effect
          </h3>
          <p class="post-type__descr text-p-medium">
            Make alternatives or other options for the design we are making. For
            example, we are creating a website design. Then there is the
            testimonial section.
          </p>
        </a>
      </li>
      <li class="post-type__item">
        <a href="" class="post-type__link">
          <img
            src="./assets/images/post-type-img-four.jpg"
            alt=""
            width="584"
            height="751"
            class="post-type__item-img"
          />
          <h3 class="post-type__title heading-h3">
            Webflow Break the Coding Barrier
          </h3>
          <p class="post-type__descr text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.  
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
